.wrapper {
    --search-height: 46px;
    --search-top-space: 9px;
    --search-btn-width: 52px;
    --input-clear-width: 40px;

    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}
.inner {
    width: 1150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.search,
.search-result {
    width: 361px;
}
.search {
    height: var(--search-height);
    border-radius: 999px;
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    padding-left: 16px;
    overflow: hidden;
    position: relative;
    border: 1.5px solid transparent;
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.search-input {
    flex: 1;
    height: 100%;
    font-size: inherit;
    outline: none;
    border: none;
    caret-color: var(--primary);
    background-color: transparent;
    padding-right: var(--input-clear-width);
    &::placeholder {
        color: var(--input-placeholder-text-color);
    }
}

input:not(:placeholder-shown) {
    ~ .search-btn {
        opacity: 1;
    }
    ~ .clear-btn {
        display: block;
    }
}
.clear-btn,
.loading-btn {
    position: absolute;
    width: var(--input-clear-width);
    right: var(--search-btn-width);
    text-align: center;
    font-size: 1.5rem;
    color: rgba(22, 24, 35);
    opacity: 0.34;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.search-btn {
    width: var(--search-btn-width);
    color: var(--text-color);
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 0 12px;
    font-size: 1.9rem;
    opacity: 0.34;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 1px;
        top: var(--search-top-space);
        bottom: var(--search-top-space);
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.search-title {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
    font-weight: 600;
    line-height: 2rem;
}
