//menu wrapper
.menu-list {
    width: 224px;

    .menu-item + .menu-item {
        margin-left: 0;
    }
}

//menu popper
.menu-popper {
    padding-bottom: 8px;
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    padding: 7px 16px;
    border-radius: 0;
    font-weight: 600;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.separated {
    display: block;
    margin: 8px 0;
    width: 100%;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}
//header
.header {
    --header-height: 50px;

    position: relative;
    height: var(--header-height);
    cursor: pointer;
    margin-top: -8px;
}
.header-title {
    font-weight: 600;
    line-height: var(--header-height);
    text-align: center;
    width: 100%;
}
.header-icon {
    width: var(--header-height);
    height: 100%;
    font-size: 1.7rem;
    padding-left: 16px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    &:hover {
        cursor: pointer;
    }
}
